<a href="https://colab.research.google.com/github/Mansi1911999/Data-Science-Projects/blob/main/Data_Wrangling_Projects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SALARIES**

Dataset = https://www.kaggle.com/datasets/kaggle/sf-salaries?resource=download

In [ ]:
import pandas as pd
import numpy as np
Data = pd.read_csv("/content/Salaries.csv", dtype = str, low_memory = False, index_col = False)
Data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

##**Preparing the Data**

In [ ]:
Data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [ ]:
Data.isin(["Not Provided"]).sum()

Id                  0
EmployeeName        2
JobTitle            0
BasePay             4
OvertimePay         4
OtherPay            4
Benefits            4
TotalPay            0
TotalPayBenefits    0
Year                0
Notes               0
Agency              0
Status              0
dtype: int64

In [ ]:
Data.replace({"EmployeeName":"Not Provided", "OvertimePay": "Not Provided","OtherPay":"Not Provided","Benefits":"Not Provided","BasePay":"Not Provided"}, np.nan, inplace = True)
Data[["OvertimePay","OtherPay","Benefits","BasePay","Year", "TotalPayBenefits","TotalPay"]] = Data[["OvertimePay","OtherPay","Benefits","BasePay","Year","TotalPayBenefits","TotalPay"]].astype(float)

In [ ]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  object
 1   EmployeeName      148652 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  float64
 10  Notes             0 non-null       object
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(7), object(6)
memory usage: 14.7+ MB

##**Drop ID , Agency, Status, Notes columns**

In [ ]:
Data.drop(["Id","Agency", "Status", "Notes"], inplace = True, axis = 1)
Data.columns

Index(['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year'],
      dtype='object')

##**Drop the rows having 4 missing values**

In [ ]:
Data.isnull().sum(axis = 1)

0         1
1         1
2         1
3         1
4         1
         ..
148649    0
148650    4
148651    4
148652    4
148653    0
Length: 148654, dtype: int64

In [ ]:
Data.drop(Data[Data.isnull().sum(axis = 1) == 4].index, inplace =True, axis = 0)
Data.isnull().sum(axis = 1)

0         1
1         1
2         1
3         1
4         1
         ..
148645    0
148647    0
148648    0
148649    0
148653    0
Length: 148650, dtype: int64

##**Find the occurence of top 5 Employee name**

In [ ]:
Data["EmployeeName"].value_counts().head()

Kevin Lee       13
Steven Lee      11
William Wong    11
Richard Lee     11
Stanley Lee      9
Name: EmployeeName, dtype: int64

##**Number of unique Job titles**

In [ ]:
Data["JobTitle"].nunique()

2159

##**Total number job titles containing 'Captain'**

In [ ]:
len(Data[Data["JobTitle"].str.contains("CAPTAIN", case = False)])

552

##**Display all employee names from Fire department**

In [ ]:
Data[Data["JobTitle"].str.contains("FIRE", case = False)]["EmployeeName"]

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

##**Find the minimum , maximum, average base pay**

In [ ]:
Data["BasePay"].describe()

count    148045.000000
mean      66325.448840
std       42764.635495
min        -166.010000
25%       33588.200000
50%       65007.450000
75%       94691.050000
max      319275.010000
Name: BasePay, dtype: float64

##**Find the job title of ALBERT PARDINI**

In [ ]:
Data[Data["EmployeeName"] == "ALBERT PARDINI"]["JobTitle"]

2    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

##**How much ALBERT PARDINI make ?**

In [ ]:
Data[Data["EmployeeName"] == "ALBERT PARDINI"]["TotalPayBenefits"]

2    335279.91
Name: TotalPayBenefits, dtype: float64

##**Display  the name of person having highest basepay**

In [ ]:
Data.sort_values(by = "BasePay", ascending  =False).head(1)["EmployeeName"]

72925    Gregory P Suhr
Name: EmployeeName, dtype: object

##**Find the average basepay of all the employee per year**

In [ ]:
Data.groupby("Year").mean(numeric_only = True)["BasePay"]

Year
2011.0    63595.956517
2012.0    65436.406857
2013.0    69630.030216
2014.0    66564.421924
Name: BasePay, dtype: float64

##**Find the average basepay of all the employee per job title**

In [ ]:
Data.groupby("JobTitle").mean(numeric_only = True)["BasePay"]

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

##**Find the average basepay of  employee with jobtitle ACCOUNTANT**

In [ ]:
Data[Data["JobTitle"] == "ACCOUNTANT"]["BasePay"].mean()

46643.172

##**Top 5 Most common jobs**

In [ ]:
Data["JobTitle"].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64