<a href="https://colab.research.google.com/github/Mansi1911999/Data-Science-Projects/blob/main/Data_Wrangling_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Top 100 Companies in INDIA**

Dataset = https://www.kaggle.com/datasets/shiivvvaam/revenue-of-top-companies-in-india

##**About Dataset**
**Description**: This dataset provides comprehensive insights into the top 100 companies in India, encompassing a diverse range of industries such as finance, manufacturing, telecommunications, and more. It includes essential attributes such as company rankings, market capitalization, share prices, revenue, and additional categorical information. The dataset offers a snapshot of the Indian business landscape, shedding light on key players, their financial standing, and their contributions to the country's economic growth.

## **1. Know Your Data**

### Import Libraries

In [89]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Dataset Loading

In [90]:
# Load Dataset
data = pd.read_csv("/content/revenuefinal.csv")

### Dataset First View

In [91]:
# Dataset First Look
data.head()

,SerialNumber,Names,Rank,Marketcap,Share.Price,Categories,Revenue,Country
0,1,Shree Cement,#1344,$12.13 B,$336.31,NaN,$2.28 B,India
1,2,Shriram Transport Finance,#1513,$10.42 B,$27.76,üí≥ Financial services,$2.29 B,India
2,3,National Mineral Development Corporation,#1914,$7.65 B,$2.61,‚õèÔ∏è Mining,$2.30 B,India
3,4,ACC,#2394,$5.59 B,$29.69,Cement,$2.30 B,India
4,5,Siemens India,#985,$18.02 B,$50.60,NaN,$2.33 B,India

### Dataset Rows & Columns count

In [92]:
# Dataset Rows & Columns count
print("Number of Row are:", data.shape[0])
print("Number of columns are :", data.shape[1])

Number of Row are: 100
Number of columns are : 8

### Dataset Information

In [93]:
# Dataset Info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SerialNumber  100 non-null    int64
 1   Names         100 non-null    object
 2   Rank          100 non-null    object
 3   Marketcap     100 non-null    object
 4   Share.Price   100 non-null    object
 5   Categories    92 non-null     object
 6   Revenue       100 non-null    object
 7   Country       100 non-null    object
dtypes: int64(1), object(7)
memory usage: 6.4+ KB

#### Duplicate Values

In [94]:
# Dataset Duplicate Value Count
print("Are there any duplicates?\nAns :", data.duplicated().any())

Are there any duplicates?
Ans : False

#### Missing Values/Null Values

In [95]:
# Missing Values/Null Values Count
print("Are there any missing values?", data.isnull().values.any())

Are there any missing values? True

In [96]:
data.isnull().sum(axis = 0)

SerialNumber    0
Names           0
Rank            0
Marketcap       0
Share.Price     0
Categories      8
Revenue         0
Country         0
dtype: int64

## **2. Understanding Your Variables**

In [97]:
# Dataset Columns
data.columns

Index(['SerialNumber', 'Names', 'Rank', 'Marketcap', 'Share.Price',
       'Categories', 'Revenue', 'Country'],
      dtype='object')

In [98]:
# Dataset Describe
data.describe()

       SerialNumber
count    100.000000
mean      50.500000
std       29.011492
min        1.000000
25%       25.750000
50%       50.500000
75%       75.250000
max      100.000000

## **3. Data Wrangling**

###**Droping the missing values**

In [99]:
# Drop rows with null values
data.dropna(axis = 0, inplace = True)

In [100]:
data.isnull().sum()

SerialNumber    0
Names           0
Rank            0
Marketcap       0
Share.Price     0
Categories      0
Revenue         0
Country         0
dtype: int64

###**What is the data type of each column? Are they appropriate for the data they contain?**

In [101]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92 entries, 1 to 99
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SerialNumber  92 non-null     int64
 1   Names         92 non-null     object
 2   Rank          92 non-null     object
 3   Marketcap     92 non-null     object
 4   Share.Price   92 non-null     object
 5   Categories    92 non-null     object
 6   Revenue       92 non-null     object
 7   Country       92 non-null     object
dtypes: int64(1), object(7)
memory usage: 6.5+ KB

###**Data Cleaning [ Rank Column ]**

In [102]:
data["Rank"]

1     #1513
2     #1914
3     #2394
5     #5410
6     #1721
      ...
95    #1327
96     #525
97     #778
98     #237
99      #48
Name: Rank, Length: 92, dtype: object

In [103]:
# Extract just the numeric part
data["Rank"] = data["Rank"].str[1:]

In [104]:
# Change the data type of 'Rank' from object to int64
data["Rank"] = data["Rank"].astype("int64")

In [105]:
data["Rank"]

1     1513
2     1914
3     2394
5     5410
6     1721
      ...
95    1327
96     525
97     778
98     237
99      48
Name: Rank, Length: 92, dtype: int64

###**Data Cleaning [ Marketcap Column ]**

In [106]:
data["Marketcap"]

1      $10.42 B
2       $7.65 B
3       $5.59 B
5       $0.71 B
6       $8.78 B
        ...
95     $12.34 B
96     $35.43 B
97     $23.81 B
98     $68.75 B
99    $220.32 B
Name: Marketcap, Length: 92, dtype: object

In [107]:
# Extract just the numeric part
data["Marketcap"] = data["Marketcap"].str[1:-2]

In [108]:
# Change the data type of 'Marketcap' from object to float
data["Marketcap"] = data["Marketcap"].astype(float)

In [109]:
data["Marketcap"]

1      10.42
2       7.65
3       5.59
5       0.71
6       8.78
       ...
95     12.34
96     35.43
97     23.81
98     68.75
99    220.32
Name: Marketcap, Length: 92, dtype: float64

###**Data Cleaning of Share.Price Column**

In [110]:
data["Share.Price"]

1     $27.76
2      $2.61
3     $29.69
5      $2.11
6     $17.84
       ...
95     $5.71
96     $2.82
97     $1.73
98    $10.87
99    $32.56
Name: Share.Price, Length: 92, dtype: object

In [111]:
# Extract just the numeric part
data["Share.Price"] = data["Share.Price"].str[1:]

In [112]:
# Replace commas in numbers
data["Share.Price"] = data["Share.Price"].str.replace(",","")

In [113]:
# Change the data type of 'Share.Price' from object to float
data["Share.Price"] = data["Share.Price"].astype(float)

In [114]:
data["Share.Price"]

1     27.76
2      2.61
3     29.69
5      2.11
6     17.84
      ...
95     5.71
96     2.82
97     1.73
98    10.87
99    32.56
Name: Share.Price, Length: 92, dtype: float64

###**Data Cleaning of Categories Column**

In [115]:
data["Categories"]

1     üí≥ Financial services
2                ‚õèÔ∏è Mining
3                   Cement
5              üß™ Chemicals
6              üè¶ Insurance
              ...
95               üõ¢ Oil&Gas
96               üõ¢ Oil&Gas
97               üõ¢ Oil&Gas
98             üè¶ Insurance
99          üèô Conglomerate
Name: Categories, Length: 92, dtype: object

In [116]:
#Filter out non-string values using regular expressions#
data["Categories"] = data["Categories"].str.extract(r'([^\d\W]+)')

In [117]:
data["Categories"]

1        Financial
2           Mining
3           Cement
5        Chemicals
6        Insurance
          ...
95             Oil
96             Oil
97             Oil
98       Insurance
99    Conglomerate
Name: Categories, Length: 92, dtype: object

###**Data Cleaning of Revenue Column**

In [118]:
data["Revenue"]

1       $2.29 B
2       $2.30 B
3       $2.30 B
5       $2.35 B
6       $2.38 B
        ...
95     $54.11 B
96     $78.08 B
97     $94.87 B
98     $97.94 B
99    $106.19 B
Name: Revenue, Length: 92, dtype: object

In [119]:
# Extract just the numeric part
data["Revenue"] = data["Revenue"].str[1:-2]

In [120]:
# Change the data type of 'Revenue' from object to float
data["Revenue"] = data["Revenue"].astype(float)

In [121]:
data["Revenue"]

1       2.29
2       2.30
3       2.30
5       2.35
6       2.38
       ...
95     54.11
96     78.08
97     94.87
98     97.94
99    106.19
Name: Revenue, Length: 92, dtype: float64

###**Are there any inconsistencies or errors in the data entries? For example, negative values for revenue**

In [122]:
# Check if any values in the 'revenue' column are negative
has_negative_revenue = (data['Revenue'] < 0).any()

# Print the result
if has_negative_revenue:
    print("The 'revenue' column contains negative values.")
else:
    print("The 'revenue' column does not contain negative values.")

The 'revenue' column does not contain negative values.

###**Are all company names entered in a consistent format? If not, can they be standardized?**

In [123]:
# Step 1: Inspect unique values in the company name column
unique_company_names = data['Names'].unique()
print("Unique company names:")
print(unique_company_names)

# Step 2: Determine a standard format (e.g., lowercase, title case)
standardized_company_names = data['Names'].str.lower()  # Convert names to lowercase

# Step 3: Apply the chosen standardization method to the company name column
data['Names'] = standardized_company_names

Unique company names:
['Shriram Transport Finance' 'National Mineral Development Corporation'
 'ACC' 'Rain Industries' 'ICICI Lombard' 'Reliance Infrastructure'
 'IDFC FIRST Bank' 'Chambal Fertilisers' 'Adani Ports & SEZ'
 'Madras Rubber Factory' 'Apollo Tyres' 'Cipla' 'Indian Railway Finance'
 'Torrent Power' "Dr. Reddy's" 'Aurobindo Pharma' 'National Fertilizers'
 'Hindustan Aeronautics' 'Indus Towers' 'IndusInd Bank'
 'Power Finance Corp' 'Oil India' 'Bank of India' 'Bajaj Finance'
 'Aditya Birla Capital' 'Indian Bank' 'Patanjali Foods' 'Ambuja Cements'
 'TVS Motor' 'Hero MotoCorp' 'LTIMindtree' 'Asian Paints'
 'Max Financial Services' 'Adani Power' 'New India Assurance'
 'Vodafone Idea' 'Powergrid Corporation of India' 'Titan Company'
 'Ashok Leyland' 'Sun Pharmaceutical'
 'General Insurance Corporation of India' 'Jindal Stainless' 'DMart' 'UPL'
 'Punjab National Bank' 'Union Bank of India' 'Adani Wilmar' 'Tata Power'
 'Petronet LNG' 'InterGlobe Aviation' 'Hindustan Unilever' 'Canara Bank'
 'Kotak Mahindra Bank' 'Chennai Petroleum' 'UltraTech Cement' 'ITC'
 'Bank of Baroda' 'Axis Bank' 'Jindal Steel & Power' 'ICICI Prulife'
 'Samvardhana Motherson' 'HDFC Life' 'Wipro' 'Bajaj Finserv'
 'HCL Technologies' 'Adani Enterprises' 'Steel Authority of India'
 'SBI Life Insurance' 'Housing Development Finance Corporation'
 'Maruti Suzuki India' 'Mahindra & Mahindra' 'Coal India' 'GAIL' 'Vedanta'
 'Bharti Airtel' 'Infosys' 'ICICI Bank' 'HDFC Bank' 'JSW Steel'
 'NTPC Limited' 'Larsen & Toubro' 'Tata Steel' 'Tata Consultancy Services'
 'State Bank of India' 'Rajesh Exports' 'Tata Motors'
 'Hindustan Petroleum' 'Bharat Petroleum' 'Oil & Natural Gas' 'Indian Oil'
 'Life Insurance Corporation of India (LIC)' 'Reliance Industries']

In [124]:
# Display the DataFrame with standardized company names
print("\nDataFrame with standardized company names:")
data.head()

DataFrame with standardized company names:

,SerialNumber,Names,Rank,Marketcap,Share.Price,Categories,Revenue,Country
1,2,shriram transport finance,1513,10.42,27.76,Financial,2.29,India
2,3,national mineral development corporation,1914,7.65,2.61,Mining,2.30,India
3,4,acc,2394,5.59,29.69,Cement,2.30,India
5,6,rain industries,5410,0.71,2.11,Chemicals,2.35,India
6,7,icici lombard,1721,8.78,17.84,Insurance,2.38,India

##**4.Data Exploration**

###**What are the top 10 companies in India based on revenue?**

In [125]:
top_10 = data.nlargest(10,"Revenue")[["Names","Revenue"]]
top_10

                                        Names  Revenue
99                        reliance industries   106.19
98  life insurance corporation of india (lic)    97.94
97                                 indian oil    94.87
96                          oil & natural gas    78.08
95                           bharat petroleum    54.11
94                        hindustan petroleum    51.52
93                                tata motors    43.65
92                             rajesh exports    39.91
91                        state bank of india    36.81
90                  tata consultancy services    28.90

###**What is the total revenue generated by all companies in the dataset?**

In [126]:
print("The total revenue generated by all companies in the dataset is $",data["Revenue"].sum(),"B")

The total revenue generated by all companies in the dataset is $ 1287.5 B

###**What are the different Categories in the Dataset**

In [127]:
data["Categories"].unique()

array(['Financial', 'Mining', 'Cement', 'Chemicals', 'Insurance',
       'Electricity', 'Banks', 'Ports', 'Tires', 'Pharmaceuticals',
       'Railways', 'Fertilizer', 'Aircraft', 'Telecommunication', 'Oil',
       'Food', 'Motorcycle', 'Professional', 'Paint', 'Luxury',
       'Manufacturing', 'Transportation', 'Retail', 'Airlines', 'Tobacco',
       'Steel', 'Automotive', 'Conglomerate', 'Automakers',
       'Construction'], dtype=object)

###**What is the average revenue of different categories ?**

In [128]:
data.groupby("Categories")["Revenue"].mean().sort_values(ascending = False)

Categories
Conglomerate         59.505000
Oil                  39.296250
Automakers           24.883333
Construction         24.480000
Retail               22.890000
Steel                17.797500
Insurance            17.102222
Professional         15.120000
Mining               11.856667
Banks                10.664286
Automotive           10.640000
Telecommunication     8.756667
Tobacco               8.440000
Electricity           7.406667
Airlines              7.360000
Food                  5.936667
Transportation        5.720000
Manufacturing         5.390000
Luxury                5.390000
Financial             5.210000
Cement                4.803333
Paint                 4.290000
Motorcycle            4.055000
Pharmaceuticals       3.750000
Chemicals             3.683333
Aircraft              3.360000
Fertilizer            3.280000
Railways              3.130000
Tires                 2.945000
Ports                 2.810000
Name: Revenue, dtype: float64

###**Which are top 5 categories?**

In [129]:
data["Categories"].value_counts().head()

Banks           14
Insurance        9
Oil              8
Electricity      6
Professional     5
Name: Categories, dtype: int64

###**Which industry sector (e.g., technology, oil & gas, finance) has the highest total revenue?**

In [130]:
data.groupby("Categories")["Revenue"].sum().sort_values(ascending =False).head()

Categories
Oil             314.37
Insurance       153.92
Banks           149.30
Conglomerate    119.01
Professional     75.60
Name: Revenue, dtype: float64

###**Top 5 Companies as per the Rank**

In [131]:
data.sort_values("Rank", ascending = False)[["Rank","Names","Categories"]].head()

    Rank                    Names   Categories
5   5410          rain industries    Chemicals
18  5361     national fertilizers   Fertilizer
7   4963  reliance infrastructure  Electricity
92  4702           rajesh exports       Retail
58  4527        chennai petroleum          Oil